.navContainer {
  width: 95%;
  background-color: #110c00;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  /* border: 2px solid magenta; */
}

.artisto h1 {
  color: #ffff;
  font-weight: 700;
  font-size: 30px;
  /* border: 1px solid white; */
}

.logo {
  /* border: 1px solid white; */
  margin-right: 10px;
}

.logoDiv {
  /* border: 1px solid green; */
  display: flex;
  padding-top: 20px;
}
.navLinks {
  width: 60%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid white; */
}
.navLinks ul {
  display: flex;
  /* border: 1px solid yellow; */
}

.navLinks ul li {
  margin-right: 40px;
  /* border: 2px solid white; */
  padding: 20px;
}
.navLinks ul li a {
  color: #ffff;
  font-weight: 600;
  /* border: 1px solid; */
}

.whiteContainer,
.yellowContainer,
.whiteContainer2,
.yellowContainer2 {
  height: 61px;
  width: 164px;
  border-radius: 0px 30px;
}

.login,
.explore {
  position: relative;
  height: 70px;
  width: 170px;
  text-align: center;
  /* border: 1px solid rgb(230, 230, 230); */
}

.yellowContainer,
.whiteContainer2 {
  position: absolute;
  padding-top: 15px;
  left: -4px;
  top: -5px;
}

.yellowContainer,
.yellowContainer2 {
  background-color: #fbaf00;
  color: #ffff;
}

.whiteContainer,
.whiteContainer2 {
  background-color: #ffff;
  color: black;
}

.login:hover .whiteContainer {
  background-color: #fbaf00;
}
.login:hover .yellowContainer {
  background-color: #ffff;
  color: black;
}

.explore:hover .yellowContainer2 {
  background-color: #ffff;
}

.explore:hover .whiteContainer2 {
  background-color: #fbaf00;
  color: white;
}
