
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Sora;
  /* outline: 1px solid red; */
}

body{
  background-color: #110C00;
}

.container{
  background-color: #110C00;
  width: 95%;
  margin: 0 auto;
  /* border: 1px solid greenyellow */
}
.image7{
  position: absolute;
  top: 1900px;
}
